---
---
body::before {
    background-size: cover;
    background-attachment: fixed;
    content: '';
    will-change: transform;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    position: fixed;
}

@media (max-width: 512px)  and (min-resolution: 1.5dppx),
       (max-width: 1024px) and (max-resolution: 1.5dppx) {
  body::before {
    background-image: url('../../images/bg_1024.jpg');
  }
}

@media (min-width: 513px)  and (max-width: 1024px) and (min-resolution: 1.5dppx),
       (min-width: 1025px) and (max-width: 2048px) and (max-resolution: 1.5dppx)  {
  body::before {
    background-image: url('../../images/bg_2048.jpg');
  }
}

@media (min-width: 1025px) and (min-resolution: 1.5dppx),
       (min-width: 2049px) and (max-resolution: 1.5dppx) {
  body::before {
    background-image: url('../../images/bg_2880.jpg');
  }
}

body .blog {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}

figure {
  padding: 0 1.5em;
}

.blog .blog__posts {
  max-width: 900px;
  padding: 0;
  display: flex;
  width: 100%;
  margin: 0 auto;
  flex-shrink: 0;
}

.blog.mdl-layout .mdl-layout__content {
  padding-top: 230px;
  position: relative;
  -webkit-overflow-scrolling: touch;
}
.blog .mdl-card {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 360px;
}
.blog .mdl-card__title {
  padding: 16px;
  flex-grow: 1;
}
.blog .mdl-card__media {
  box-sizing: border-box;
  background-size: cover;
  padding: 24px;
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  align-items: flex-end;
  cursor: pointer;
}
.blog .mdl-card__media a,
.blog .mdl-card__title a {
  color: inherit;
}
.blog .mdl-card__supporting-text {
  width: 100%;
  padding: 16px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  min-height: 76px;
}
.blog .mdl-card__supporting-text strong {
  font-weight: 600;
}
.blog .mdl-card__media ~ .mdl-card__supporting-text {
  min-height: 64px;
}
.blog .mdl-card__supporting-text:not(:last-child) {

}
.blog:not(.blog--blogpost) .mdl-card__supporting-text ~ .mdl-card__supporting-text {
  border-top: 1px solid rgba(0,0,0,0.1);
}

.blog .mdl-card__actions:first-child {
  margin-left: 0;
}
.blog .meta {
  box-sizing: border-box;
  padding: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: auto;
}
.blog .meta > .meta__favorites{
  flex-direction: row;
  margin: 0 8px;
  font-size: 13px;
  font-weight: 500;
}
.blog .meta > .meta__favorites .material-icons {
  font-size: 2em;
  cursor: pointer;
  margin-left: 12px;
}
.blog .mdl-card .meta.meta--fill {
  justify-content: space-between;
}
.blog .meta > *:first-child {
  margin-right: 16px;
}
.blog .meta > * {
  display: flex;
  flex-direction: column;
}
.blog.is-small-screen .blog__posts > .mdl-card.coffee-pic {
  order: 0;
}
.blog.is-small-screen .blog__posts > .mdl-card.blogger-info {
  order: -1;
}

.blog .blogger-info .mdl-card__media {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.blog .blogger-info > button {
  position: absolute;
  top: 0;
  right: 28px;
  transform: translate(0px, -28px);
}
.blog .blogger-info .mdl-card__media {
  font-size: 13px;
  font-weight: 500;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
.blog .blogger-info .mdl-card__media img {
  width: 90%;
  height: 90%;
  max-heght: 250px;
  max-width: 250px;
}
.blog .blogger-info .mdl-card__supporting-text {
  background-color: #F5F5F5;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.blog .blog__posts > .nav {
  margin: 12px 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-weight: 500;
}
.blog .blog__posts > .nav > .nav__button {
  color: white;
  text-decoration: none;
}
.blog .blog__posts > .nav .mdl-button {
  color: rgba(0,0,0,0.54);
  background-color: white;
}
.blog .blog__posts > .nav > .nav__button:first-child .mdl-button {
  margin-right: 16px;
}
.blog .blog__posts > .nav > .nav__button:last-child .mdl-button {
  margin-left: 16px;
}
.blog .mdl-card > a {
  color: inherit;
  text-decoration: none;
  font-weight: inherit;
}
.blog .mdl-card h3 {
  margin: 0;
}
.blog .mdl-card h3 a {
  text-decoration: none;
}

.blog--blogpost .custom-header {
  background-color: transparent;
}
.blog--blogpost .blog__posts > .mdl-card .mdl-card__media {
  height: 280px;
  cursor: default;
}

.blog--blogpost .meta + .mdl-card__supporting-text {
  border: 0;
  display: flex;
  flex-direction: column;
}
.blog--blogpost .meta + .mdl-card__supporting-text p {
  max-width: 512px;
  margin: 16px auto;
  font-size: 16px;
  line-height: 28px;
}

.mdl-card__supporting-text ul {
  max-width: 512px;
  margin: 16px auto;
  font-size: 16px;
  line-height: 28px;
  padding: 0;
  list-style: none;
}

.mdl-card__supporting-text li {
  padding-left: 1.5em;
}

.mdl-card__supporting-text li::before {
  width: 1.5em;
  margin-left: -1.5em;
  content: "done";
  line-height: 28px;
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}


.blog--blogpost .back {
  position: absolute;
  top: 16px;
  left: 16px;
  color: white;
  z-index: 9999;
}
.blog .section-spacer {
  flex-grow: 1;
}
.blog .blogger-info {
  overflow: visible;
  z-index: 10;
}
.blog .amazing .mdl-card__title {
  background-color: #263238;
}
.blog .minilogo {
  width: 44px;
  height: 44px;
  background-image: url('../images/zyzle.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
  border-radius: 22px;
  background-color: #F5F5F5;
}

/* Fixes for IE 10 */
.mdl-grid {
  display: flex !important;
}



.blog .mdl-mini-footer {
  margin-top: 80px;
  height: 120px;
  padding: 40px;
  align-items: center;
  background-color: white;
  box-sizing: border-box;
}


.img-license {
  margin: -20px;
}

.img-license img {
  width: 20px;
  height: 20px;
}

.categories {
  background-color: #eee;
}

.categories h6 {
  margin: 0 .5em 0 1em;
}

.categories .cat, .post-info .cat {
  /*line-height: 24px;*/
  background-color: #ccc;
  padding: .2em .6em;
  border-radius: 1em;
  margin: 0 .25em;
}

.menu-link {
  text-decoration: none;
}
