/**
 * based on Joshua Azemoh's One Monokai theme for vscode
 * original can be found here:
 * https://github.com/azemoh/vscode-one-monokai
 */

$default: #abb2bf;
$background: #252539;
$lime: #98c379;
$purple: #c678dd;
$pink: #e06c75;
$brown: #d19a66;
$gold: #e5c07b;
$caret: #528bff;
$blue: #61afef;
$cyan: #56b6c2;
$comment: #5c6370;
$block: #282c34;