$fonts-path: './fonts';

@font-face {
    font-family: Pacifico;
    src: url($fonts-path + "/Pacifico-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Nunito;
    src: url($fonts-path + "/Nunito-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Nunito;
    src: url($fonts-path + "/Nunito-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Nunito;
    src: url($fonts-path + "/Nunito-Italic.woff") format("woff");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: Nunito;
    src: url($fonts-path + "/Nunito-BoldItalic.woff") format("woff");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Fira Code";
    src: url($fonts-path + "/FiraCode-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Fira Code";
    src: url($fonts-path + "/FiraCode-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}