@import "reset";
@import "fonts";
@import "colors";

body {
	background-color: $background;
	color: $default;
	font-family: "Nunito", sans-serif;
}

@mixin header-blur {
	@supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
		background-color: rgba(37, 37, 57, .75);
	}

	@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
		backdrop-filter: blur(10px);
		-webkit-backdrop-filter: blur(10px);
	}
}

.page-header {
	@include header-blur();
	
	position: fixed;
	width: 100%;
	height: 52px;
	top: 0;

	.hwrapper {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		max-width: 750px;
		margin: auto;

		h1 {
			font-family: "Pacifico", cursive;
			font-size: 2rem;
			padding: .5rem;
			color: $pink;
			
		}

		a {
			color: $gold;
		}
	}

	.header-buttons {
		display: flex;
		flex-direction: row;
	}


	#progress-bar {
		height: 4px;
		width: 0%;
		border-radius: 2px;
		background-color: $cyan;
	}
}

.wrapper {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.content {
	margin-top: 52px;
	margin-bottom: 50px;
	padding: 0 15px;
	width: 100%;
	max-width: 750px;

	p {
		margin-bottom: 1rem;
		text-align: start;
		line-height: normal;
	}

	.subheading {
		color: $blue;
		font-size: 1.2rem;
		margin-bottom: .75rem;
	}
}

.post-info {
	width: 100%;
	display: flex;
	flex-direction: row;

	time {
		color: $cyan;
		flex: 1;
	}

	.tags {
		flex: 1;
		display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
		a {
			font-family: "Fira Code", monospace;
			font-weight: bold;
			color: $gold;
			text-decoration: none;
			margin: 0 5px;
		}

		a:hover {
			font-weight: normal;
		}

		a::before {
			content: '#';
			padding-right: 2px;
		}

		a::after {
			content: ' ';
		}
	}
}

.post, .post-mini {

	.post-header {
		margin-bottom: 2rem;
		padding-top: 1rem;

		.term-header, .term-header-nohash {
			margin-bottom: 2rem;
			padding-top: 1rem;
			font-size: 2.5rem;
			font-weight: bold;
			color: $gold;
		}	

		.term-header:before {
			content: '#';
		}

		a {
			text-decoration: none;
		}

		h1 {
			font-size: 1.75rem;
			font-weight: bold;
			padding-bottom: .75rem;
			color: $lime;

		}

		h1:hover {
			text-decoration: underline;
		}
	}

}

a {
	text-decoration: none;
	color: $purple;
}

a:hover {
	text-decoration: underline;
}

.post-mini {
	margin-bottom: 1rem;
}

.post {

	ul, ol {
		margin: 0 3.5rem;
	}

	ul {
		list-style-type: disc;
	}

	ol {
		list-style-type: upper-roman;
	}

	li {
		padding-left: .5rem;
	}

	h1, h2, h3, h4, h5, h6, ul, ol, pre, blockquote {
		margin-bottom: 1rem;
	}

	h1, h2, h3, h4, h5, h6 {
		font-weight: bold;
	}

	h1, h2 {
		color: $blue;
	}

	h3, h4 {
		color: $cyan;
	}

	h5, h6 {
		color: $caret;
	}

	h1 {
		font-size: 1.6rem;
	}

	h2 {
		font-size: 1.5rem;
	}

	h3 {
		font-size: 1.4rem;
	}

	h4 {
		font-size: 1.3rem;
	}

	h5 {
		font-size: 1.2rem;
	}

	h6 {
		font-size: 1rem;
	}

	em {
		font-style: italic;
	}

	strong {
		font-weight: bold;
	}

	img {
		max-width: 720px;
	}

	figure {
		display: flex;
		flex-direction: column;
		border-radius: 1rem;
		background-color: $block;
		overflow: hidden;
		margin-bottom: 1rem;
		border: 1px dashed;
		figcaption {
			margin: .25rem 1rem .5rem;
		}
	}

	blockquote {
		margin: 1rem 2rem;
		border-radius: 1rem;
		background-color: $block;
		border: 1px dashed;

		p {
			margin: 1rem;
		}
	}

	.taglist {
		list-style-type: none;
		a {
			font-family: "Fira Code", monospace;
			font-weight: bold;
			color: $gold;
			text-decoration: none;
			margin: 0 5px;
		}

		a:hover {
			font-weight: normal;
		}

		a::before {
			content: '#';
			padding-right: 2px;
		}

		a::after {
			content: ' ';
		}
	}
}

.homepage {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	.homepage-list {
		margin-top: 2rem;
		font-size: 5rem;

		li {
			margin: 2rem 0;

			a {
				line-height: 4rem;
			}
		}
	}
}

.lang-list-icon {
	width: 6rem;
	height: 6rem;
}

.lang-list-link:hover {
	text-decoration: none;
}

[data-count] {
	position: relative;
	display: inline-block;
}

[data-count]:after {
	content: attr(data-count);
	position: absolute;
	background: $lime;
	border-radius: 25%;
	display: inline-block;
	color: $block;
	font-style: bold;
	padding: 0.3em;
	right: -5px;
	top: -5px;
}

.flow-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
}

/* mobile */
@media only screen and (max-width: 400px) {
}

/* tablet */
@media only screen and (min-width: 401px) and (max-width: 960px) {
}

/* desktop */
@media only screen and (min-width: 961px) {
}


code {
	font-family: "Fira Code", monospace;
}

pre {
	padding: 1rem;
	overflow: auto;
	margin: 1rem 2rem;
	border-radius: 1rem;
	font-family: "Fira Code", monospace;
	border: 1px dashed;
}
// The line numbers already provide some kind of left/right padding
pre[data-linenos] {
	padding: 1rem 0;
}
pre table td {
	padding: 0;
}
// The line number cells
pre table td:nth-of-type(1) {
	text-align: center;
	user-select: none;
}
pre mark {
	// If you want your highlights to take the full width.
	display: block;
	// The default background colour of a mark is bright yellow
	background-color: rgba(254, 252, 232, 0.9);
}
pre table {
	width: 100%;
	border-collapse: collapse;
}
