{% extends "base.html" %}

{% block title %}Tags | {{ super() }}{% endblock title %}
{% block og_title %}Tags | {{ super() }}{% endblock og_title %}

{% block meta_description %}A complete list of Tags used on Zyzle.dev{% endblock meta_description %}
{% block og_description %}A complete list of Tags used on Zyzle.dev{% endblock og_description %}

{% block main %}
<nav><a href={{ get_url(path="@/_index.md") }}>&laquo; back to home</a></nav>
<header class="list-title">
	<img src="/tag.svg" alt="tag icon" width="68px" height="68px" />
	<h1>Tags</h1>
</header>
<article class="post">
    <ul class="taglist">
        {% for term in terms %}
        <li>
            <a href="{{ term.permalink }}">{{ term.name }} ({{term.pages | length}})</a>
        </li>
        {% endfor %}
    </ul>
</article>
{% endblock main%}