html {
  background-image: url('assets/bg2.jpg');
  background-size: cover;
}

body {
  font-family: 'alte_haas_groteskbold', Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}

.content {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  max-width: 45%;
  flex: 1;
}

.header {
  font-size: 6rem;
  color: rgb(221, 58, 58);
}

.sub-header {
  font-size: 2rem;
  color: rgb(224, 220, 220);
  background-color: rgb(36, 36, 36);
  display: inline;
  padding: 0 .5rem;
}

.photocredit {
  font-size: .75rem;
  color: #fff;
}

.bumper {
  flex: 1;
}