{% extends "base.html" %}

{% block title %}Languages | {{ super() }}{% endblock title %}
{% block og_title %}Languages | {{ super() }}{% endblock og_title %}

{% block meta_description %}A list of the languages used by site snippets or projects{% endblock meta_description %}
{% block og_description %}A list of the languages used by site snippets or projects{% endblock og_description %}

{% block main %}
<header class="list-title">
	<img src="/languages.svg" alt="tag icon" width="68px" height="68px" />
	<h1>Languages</h1>
</header>
<article class="post">
	<div class="flow-container">
		{% for lang in terms %}
		<a href="{{ lang.permalink }}" class="lang-list-link"
			data-count="{{ lang.pages | length }}">
			<img 
				class="lang-list-icon" 
				src="/lang-icons/{{ lang.name }}.svg" 
				alt="{{ lang.name }} icon" 
			/>
		</a>
		{% endfor %}
	</div>
</article>
{% endblock main %}