<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1">
        <meta name="description" content="?">

        <title>{% block title %}{{ config.title }}{% endblock title %}</title>

        {% if config.generate_feed %}
        <link rel="alternate" type={% if config.feed_filename=="atom.xml" %}"application/atom+xml"{% else
            %}"application/rss+xml"{% endif %} title="RSS" href="{{ get_url(path=config.feed_filename) | safe }}">
        {% endif %}
        <link rel="stylesheet" href="{{ get_url(path="styles.css", trailing_slash=false) | safe }}">
    </head>
    <body>
        <header class="page-header">
            <div class="hwrapper">
                <h1>{{ config.title }}</h1>
            </div>
            <div id="progress-bar"></div>
        </header>
        <div class="wrapper">
            <main class="content" id="docmain">
                {% block main %}{% endblock main%}
            </main>
        </div>

        <script type="text/javascript">
            (() => {
                const bar = document.querySelector('#progress-bar');
                const post = document.querySelector('#docmain');
                const html = document.documentElement;
                const height = post.scrollHeight;

                window.addEventListener('scroll', () => {
                    bar.style.width = (html.scrollTop / (height - html.clientHeight)) * 100 + '%';
                });
            })();
        </script>
    </body>
</html>