<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

        <title>{% block title %}{{ config.title }}{% endblock title %}</title>

        {% if config.generate_feed %}
        <link rel="alternate" type={% if config.feed_filename=="atom.xml" %}"application/atom+xml"{% else
            %}"application/rss+xml"{% endif %} title="RSS" href="{{ get_url(path=config.feed_filename) | safe }}">
        {% endif %}
        <link rel="stylesheet" href="{{ get_url(path="styles.css", trailing_slash=false) | safe }}">
    </head>
    <body>
        <div class="flex-container">
            <div class="sidebar">
                <div class="one bordered"></div>
                <div class="two bordered"></div>
                <div class="three bordered">
                    <header class="site-sidebar">
                        <h1>{{ config.title }}</h1>
                        {% include "_navigation.html" %}
                    </header>
                </div>
            </div>
            <main class="content">
                {% block main %}{% endblock main %}
            </main>
        </div>
    </body>
</html>