<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1">
        <meta name="description" content="{% block meta_description %}{% endblock meta_description %}">

        <title>{% block title %}{{ config.title }}{% endblock title %}</title>

        {% if config.generate_feed %}
        <link rel="alternate" type={% if config.feed_filename=="atom.xml" %}"application/atom+xml"{% else
            %}"application/rss+xml"{% endif %} title="RSS" href="{{ get_url(path=config.feed_filename) | safe }}">
        {% endif %}
        <link rel="stylesheet" href="{{ get_url(path="styles.css", trailing_slash=false) | safe }}">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        {% block head_extra %}{% endblock head_extra %}
    </head>
    <body>
        <header class="page-header">
            <div class="hwrapper">
                <h1><a class="header-link" href="{{ get_url(path="@/_index.md")}}">{{ config.title }}</a></h1>
                <span class="header-buttons">
                    <a href="https://ko-fi.com/zyzle"><img src="/ko-fi.png" alt="support me on Ko-fi" width="50px"/></a>
                    <h1><a href="/tags">#</a></h1>
                </span>
            </div>
            <div id="progress-bar"></div>
        </header>
        <div class="wrapper">
            <main class="content" id="docmain">
                {% block main %}{% endblock main %}
            </main>
        </div>

        <script type="text/javascript">
            (() => {
                const bar = document.querySelector('#progress-bar');
                const post = document.querySelector('#docmain');
                const html = document.documentElement;
                const height = post.scrollHeight;

                window.addEventListener('scroll', () => {
                    bar.style.width = (html.scrollTop / (height - html.clientHeight)) * 100 + '%';
                });
            })();
        </script>
        <script data-host="https://microanalytics.io" data-dnt="false" src="https://microanalytics.io/js/script.js"
            id="ZwSg9rf6GA" async defer></script>
    </body>
</html>