{% extends "base.html" %}

{% block title %}Home | {{ super() }}{% endblock title %}
{% block meta_description %}{{ section.description }}{% endblock meta_description %}
{% block head_extra %}
<link rel="canonical" href="{{ get_url(path="@/_index.md") }}" />
{% endblock head_extra %}

{% block main %}
<article class="homepage">
	<ul class="homepage-list">
		<li>
			<a href="{{ get_url(path="@/blog/_index.md")}}">
				<img src="/blog.svg" alt="pen and paper icon" width="100px" height="100px" />
				Blog
			</a>
		</li>
		<li>
			<a href="{{ get_url(path="@/snippets/_index.md")}}">
				<img src="/snippets.svg" alt="code tag icon" width="100px" height="100px" />
				Snippets
			</a>
		</li>
		<li>
			<a href="{{ get_url(path="@/about.md")}}">
				<img src="/about.svg" alt="person icon" width="100px" height="100px" />
				About
			</a>
		</li>
	</ul>
</article>
{% endblock main %}