{% extends "base.html" %}

{% block title %}Snippets | {{ super() }}{% endblock title %}
{% block meta_description %}{{ section.description }}{% endblock meta_description %}

{% block main %}
<article class="post">
	<header class="post-header">
		<h1 class="term-header-nohash">Snippets</h1>
	</header>
	<p>These are small code blocks or functions that I've found useful in the past but don't warrant a full blog
		post of explanation. Search snippets by language <a href="{{ get_url(path="@/_index.md")}}language/">here.</a>
	</p>
</article>
{% for snippet in section.pages %}
<article class="post-mini">
	<header class="post-header">
		<a href="{{ snippet.permalink }}"><h1>{{ snippet.title }}</h1></a>
		<div class="post-info">
			<time>{{ snippet.date }}</time>
			<div class="tags">
				{% if snippet.taxonomies.tags %}
					{% for tag in snippet.taxonomies.tags %}
						<a href="{{ get_url(path="@/_index.md")}}tags/{{tag}}">{{ tag }}</a>
					{% endfor %}
				{% endif %}
			</div>
		</div>
	</header>
	<section>
		{{ snippet.description | safe }}
	</section>
</article>
{% endfor %}
{% endblock main %}