{% extends "base.html" %}

{% block title %}Snippets | {{ super() }}{% endblock title %}
{% block og_title %}Snippets | {{ super() }}{% endblock og_title %}

{% block meta_description %}{{ section.description }}{% endblock meta_description %}
{% block og_description %}{{ section.description }}{% endblock og_description %}

{% block main %}
<nav><a href={{ get_url(path="@/_index.md") }}>&laquo; back to home</a></nav>
<header class="list-title">
	<img src="/snippets.svg" alt="code tag icon" width="68px" height="68px" />
	<h1>Snippets</h1>
</header>
<p>These are small code blocks or functions that I've found useful in the past but don't warrant a full blog
	post of explanation. Have a look at the <a href="{{ get_url(path="@/_index.md")}}language/">language list</a> for
	snippets arranged by language
</p>
{% for snippet in section.pages %}
<article class="post-mini">
	<header class="post-header">
		<a href="{{ snippet.permalink }}"><h1>{{ snippet.title }}</h1></a>
		<div class="post-info">
			<time>{{ snippet.date }}</time>
			<div class="tags">
				{% if snippet.taxonomies.tags %}
					{% for tag in snippet.taxonomies.tags %}
						<a href="{{ get_url(path="@/_index.md")}}tags/{{tag}}/">{{ tag }}</a>
					{% endfor %}
				{% endif %}
			</div>
		</div>
	</header>
	<section>
		{{ snippet.description | safe }}
	</section>
</article>
{% endfor %}

{% include "footer.html" %}
{% endblock main %}