---
layout: default
---
<div class="blog blog--blogpost mdl-layout mdl-js-layout has-drawer is-upgraded">
  <main class="mdl-layout__content">
    <div class="back">
      <a id="back" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon"
        href="/index.html" title="go back" role="button">
        <i class="material-icons" role="presentation">arrow_back</i>
      </a>
      <div class="mdl-tooltip" for="back">Go Back</div>
    </div>
    <div class="blog__posts mdl-grid">
      <div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--12-col">
        <div class="mdl-card__media mdl-color-text--grey-50"
          style="background-image: url({{ site.baseurl }}/images/{{ page.img }});">
          <h3>{{ page.title }}</h3>
        </div>
        <div class="mdl-color-text--grey-700 mdl-card__supporting-text meta">
        </div>
        <div class="mdl-color-text--grey-700 mdl-card__supporting-text">
          {{ content }}
        </div>

      </div>
    </div>
    {% include footer.html %}
  </main>
  <div class="mdl-layout__obfuscator"></div>
</div>
