---
layout: default
---
<div id="readingProgress" class="reading-progress mdl-progress mdl-js-progress"></div>

<div class="blog blog--blogpost mdl-layout mdl-js-layout has-drawer is-upgraded">
  <main id="docmain" class="mdl-layout__content">
    <nav class="back">
      <a id="back" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon"
        href="/index.html" title="go back" role="button">
        <i class="material-icons" role="presentation">arrow_back</i>
      </a>
      <div class="mdl-tooltip" for="back">Go Back</div>
    </nav>
    <div class="blog__posts mdl-grid">
      <article class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--12-col"
        itemscope itemtype="http://schema.org/BlogPosting">
        <img class="meta-image" src="{{ site.baseurl }}/images/{{ page.img }}" itemprop="image" />
        <header class="mdl-card__media mdl-color-text--grey-50"
          style="background-image: url({{ site.baseurl }}/images/{{ page.img }});">
          <h3 itemprop="name headline">{{ page.title }}</h3>
          <div class="section-spacer"></div>
          <div id="header-image" class="img-license">
            {% if page.img_link %}
            <a href="{{ page.img_link }}">
              <img src="{{ site.baseurl }}/images/cc-icons-svg/cc.svg" alt="cc" />
              {% for lic in page.img_license %}
              <img src="{{ site.baseurl }}/images/cc-icons-svg/{{ lic }}.svg" alt="{{ lic }}" />
              {% endfor %}
            </a>
            {% endif %}
          </div>
          {% if page.img_author %}
            <div class="mdl-tooltip" for="header-image">Original image by<br />{{ page.img_author }}</div>
          {% else %}
            <div class="mdl-tooltip" for="header-image">View Original</div>
          {% endif %}
        </header>
        <div class="mdl-color-text--grey-700 mdl-card__supporting-text meta">
          <div class="minilogo"></div>
          <div>
            <span itemprop="author" itemscope itemtype="http://schema.org/Person">
              <strong itemprop="name">{% if page.author %}{{ page.author }}{% endif %}</strong>
            </span>
            <span>
              <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                {{ page.date | date: "%b %-d, %Y" }}
              </time>
              {% if page.meta %} • {{ page.meta }}{% endif %}
            </span>
          </div>

          <div class="section-spacer"></div>

          <div>
            <a id="permalink" href="{{ post.url | prepend: site.baseurl }}">
              <i class="material-icons" role="presentation">bookmark</i>
              <span class="visuallyhidden">bookmark</span>
            </a>
            <div class="mdl-tooltip" for="permalink">Permalink</div>
          </div>

        </div>
        <div itemprop="articleBody" class="mdl-color-text--grey-700 mdl-card__supporting-text">
          {{ content }}
        </div>
        <div class="mdl-card__supporting-text categories">
          <h6>Tags:</h6>
          {% if page.tags.size > 0 %}
            {% for tag in page.tags %}
            <span class="cat" itemprop="keywords">{{ tag }}</span>
            {% endfor %}
          {% else %}
            <i>untagged</i>
          {% endif %}
        </div>

        {% if page.comments %}
          {% include disqus.html %}
        {% endif %}

      </article>

      <nav class="nav mdl-color-text--grey-50 mdl-cell mdl-cell--12-col">
        {% if page.next %}
        <a href="{{ page.next.url }}" class="nav__button">
          <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-color--white mdl-color-text--grey-900" role="presentation">
            <i class="material-icons">arrow_back</i>
          </button>
          Newer
        </a>
        {% endif %}
        <div class="section-spacer"></div>
        {% if page.previous %}
        <a href="{{ page.previous.url }}" class="nav__button">
          Older
          <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-color--white mdl-color-text--grey-900" role="presentation">
            <i class="material-icons">arrow_forward</i>
          </button>
        </a>
        {% endif %}
      </nav>
    </div>
    {% include footer.html %}
  </main>
  <div class="mdl-layout__obfuscator"></div>
</div>
<script  type="text/javascript">
  (function(){
    document.getElementById('docmain').addEventListener('scroll', function(){
      var h = document.getElementById('docmain');
      var percent = (h.scrollTop) / ((h.scrollHeight) - h.clientHeight) * 100;
      document.querySelector('#readingProgress').MaterialProgress.setProgress(percent);
    });
  })();

</script>
